body{
    margin: 0;
    
}
.navbar{
    text-align: center;
    font-size: 40px;
    font-family: 'Paytone One', sans-serif;
    background-color: #005082;
    color: white;
    margin-top: 0;
    padding: 15px;
}

