body{
    margin: 0;
    width: 100%;
}
.navbar{
    text-align: center;
    font-size: 40px;
    font-family: 'Paytone One', sans-serif;
    background-color: #005082;
    color: white;
    margin-top: 0;
    padding: 15px;
}

.city-search-form{
    margin-top: 2%;
    margin-left: 2%;
}
